<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/topnav :: generalNavbar"></div>
<div>
<h6 style="text-align:Center"><label th:text="${pageHeader}"></label></h6>
<h6 style="text-align:Center"><label th:text="${detailText}"></label></h6>
</div>
<div>
	<table>
		<thead>
			<tr>
				<th>FIle ID</th>
				<th>File Location</th>
				<th>File Name</th>
				<th>Date</th>
				<th>Time</th>
				<th>Size</th>
				<th>No Of Lines</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
			<tr th:style="${fileAttributes.getStatus()} == OK ? 'background: #468038' : 'background: #a84751'" th:each="fileAttributes : ${allFileExeDetails}">
			     <td th:text="${fileAttributes.getCaseId()}"></td>
			     <td th:text="${fileAttributes.getFileLocation()}"></td>
			     <td th:text="${fileAttributes.getFileName()}"></td>
			     <td th:text="${fileAttributes.getDate()}"></td>
			     <td th:text="${fileAttributes.getTime()}"></td>
			     <td th:text="${fileAttributes.getSize()}"></td>
			     <td th:text="${fileAttributes.getNoOfLines()}"></td>
			     <td th:text="${fileAttributes.getStatus()}"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>